%msg {
  margin: {
    bottom: 1em;
    top: 1em;
  }

  border-radius: 3px;
  line-height: 2.6em;
  text-align: center;
  font-size: 1em;
}

.msg {
  &-error {
    @extend %msg;
    background-color: #ffcdcd;
    color: #b71c1c;
  }

  &-warning {
    @extend %msg;
    background-color: #fff6b1;
    color: #d0a500;
  }
}