@import './../../../utils/sass/vars.scss';

.rate-stars {
  &-container {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    z-index: 4;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;

    & h3 {
      text-align: center;
      margin-top: 0;
      font-size: 2em;
    }
  }

  &-popup {
    background-color: $white-color;
    border-radius: 5px;
    margin: 86px auto 0;
    width: 900px;
  }

  &-input {
    line-height: 4em;
    text-align: center;
    font-size: 2em;
  }
}

.rate-button-container {
  position: relative;
  margin: 1.6em auto;
  width: 180px;
}