.video-img {
  position: relative;
  margin: 15px auto 0;
  height: 31px;
  width: 85%;

  &-rating {
    background-color: #ffea00;
    position: absolute;
    z-index: 1;
    height: 100%;

    &~img {
      position: relative;
      z-index: 3;
    }
  }
}