@import './../utils/sass/vars.scss';
@import './../utils/sass/utils.scss';

// -============= GENERALS =============-
* {
  -webkit-: {
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures;
    text-size-adjust: 100%;
    font-smoothing: antialiased;
    tap-highlight-color: transparent;
  }

  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans',
  sans-serif;

  &:focus {
    outline: none;
  }
}

html {
  overflow-y: auto;
}

html,
body {
  overflow: hidden;
  background-color: $grey-light-color;
  padding: 0;
  margin: 0;
  bottom: 0;
  color: $grey-dark-color;
  right: 0;
  left: 0;
  top: 0;

  font: {
    size: 100%;
    variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures;
    stretch: condensed;

  }
}


section,
article,
header,
footer,
input,
div,
button {
  padding: 0;
  margin: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;

  margin: {
    bottom: 0;
    top: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
    color: $grey-dark-color;
  }
}

.shadow {
  @include prefix((box-shadow: $shadow-value));
}


.button {
  @include prefix((transition: all .3s ease-in));
  background-color: $blue-dark-color;
  line-height: 3em;
  width: 100%;

  font: {
    weight: 700;
    size: 1.08em;
  }

  margin: {
    bottom: 1.4em;
    top: 1.4em;
  }

  color: $white-color;

  &:hover {
    background-color: $cyan-light-color;
    cursor: pointer;
    color: $white-color;
  }
}

.hide {
  display: none;
}