@import './../../../utils/sass/vars.scss';
@import './../../../utils/sass/utils.scss';

.header-nav {
  @include prefix((box-shadow: 0 1px 8px rgba(0, 0, 0, .3)));
  @include linear-gradient(to right, #4a148c, #512da8, #3f51b5);

  & span {
    font-size: 2em;
    line-height: 2em;

    margin: {
      right: 1.6em;
      left: 1.6em;
    }

    color: $white-color;
  }

  & button {
    padding: {
      right: 1em;
      left: 1em;
    }

    background-color: $cyan-light-color;
    line-height: 4em;
    font-size: 1em;
    cursor: pointer;
    float: right;
    color: $white-color;
  }
}